/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, sans-serif;
  background-color: #eff8f8;
  margin: 0;
  padding: 20px;
}

div {
  max-width: 600px;
  margin: 15px auto;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


h1 {
  text-align: center;
  color: #333;
  margin-bottom: 15px;
}

h2 {
  color: #555;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  horiz-align: center;
  align-items: center;
}

label {
  font-weight: bold;
  margin-top: 12px;
}

input,
textarea,
select {
  padding: 10px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  margin: 15px 10px 0px 10px;
  max-width: 400px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  /*background-color: #007bff;*/
  background-color: #aa0000;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2243a1;
}
